.enterprise-section {
    padding-top: 50px;
    padding-bottom: 70px;
    background-image: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}

.enterprise-label {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
}

.enterprise-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;
}

.enterprise-text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 32px;
}

.touch-button {
    font-weight: 600;
    font-size: 18px;
    color: var(--main-light-font-color);

    border: none;
    border-radius: 8px;
    background-color: var(--button-bg-color);
    width: 224px;
    height: 44px;

    text-align: center;
    padding-top: 8px;

    display: block;
    margin: 0 auto;

    transition: background-color 0.3s;
}

.touch-button:hover,
.touch-button:focus {
    background-color: var(--hover-focus-color);
}

@media screen and (min-width: 1150px) {
    .enterprise-section {
        padding-bottom: 100px;
    }

    .enterprise-title {
        font-size: 34px;
        margin-bottom: 8px;
    }
}