.join-section {
    padding-top: 30px;
    padding-bottom: 50px;
    background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.join-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 86px;
}

.join-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 66px;
}

.join-img-container {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 34px;
}

.join-img-container.red {
    background-color: #ffefef;
}

.join-img-container.blue {
    background-color: #f2f6ff;
}

.join-sub-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: #000;
    text-align: center;
    margin-bottom: 16px;
}

.join-text-list {
    text-align: center;
    margin-bottom: 12px;
}

.join-item {
    margin-bottom: 4px;
}

.join-text-list .join-item:last-child {
    margin-bottom: 0;
}

.join-section-text {
    font-size: 18px;
    line-height: 1.7;
}

.join-text-call {
    font-weight: 500;
    line-height: 1.75;
    color: #000;
}