.choose-section {
    background-color: var(--section-bg);
    padding-top: 24px;
    padding-bottom: 60px;
}

.choose-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.choose-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.choose-item {
    border: 1px solid var(--choose-border-color);
    border-radius: 10px;
    padding: 32px 38px 34px;
}

.choose-icon {
    fill: var(--decon-icon-color);
    border-radius: 20px;
    max-width: 50px;
    max-height: 50px;
    padding: 16px;
    display: block;
    margin: 0 auto 48px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.choose-icon.heart {
    background-color: #f03e3d;
}

.choose-sub-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.37;
    text-align: center;
    margin-bottom: 16px;
}

.choose-text {
    line-height: 1.69;
    letter-spacing: 0.01em;
    text-align: center;
}