.how-work-section {
    padding-top: 96px;
    padding-bottom: 70px;
}

.how-work-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 80px;
}

.how-work-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.how-work-img {
    margin: 0 auto 80px;
}

.how-work-text {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 16px;
}

.how-work-sub-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}

.how-work-description {
    line-height: 1.75;
    max-width: 354px;
}

.touch-button.how-work {
    display: none;
}

@media screen and (min-width: 1150px) {
    .how-work-section {
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .how-work-img {
        margin: 0;
    }

    .how-work-title {
        margin-bottom: 72px;
    }

    .how-work-list {
        margin-bottom: 80px;
    }

    .how-work-item {
        display: flex;
        align-items: center;
        gap: 90px;
    }

    .how-work-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    .how-work-description {
        max-width: 438px;
    }

    .touch-button.how-work {
        display: block;
    }
}