.strategies-title {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    margin-bottom: 8px;
}

.strategies-text {
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.strategies-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.strategies-item {
    max-width: 348px;
    border-radius: 8px;
    border-left: 1px solid var(--article-border-color);
    border-bottom: 1px solid var(--article-border-color);
    border-right: 1px solid var(--article-border-color);
    transition: box-shadow .3s
}

.strategies-item:hover,
.strategies-item:focus {
    color: var(--accent-light-font-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.strategies-img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    margin-bottom: 24px;
}

.strat-author-container {
    padding-left: 24px;
    padding-bottom: 36px;
}

.strategies-author {
    line-height: 1.75;
    margin-bottom: 12px;
}

.strategies-author span {
    font-weight: 700;
}

.strategies-sub-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    max-width: 294px;
    transition: color 0.3s;
}

@media screen and (min-width: 1150px) {
    .strategies-title {
        text-align: left;
        margin-bottom: 10px;
    }

    .strategies-text {
        text-align: left;
        max-width: 476px;
    }

    .strategies-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }

    .strategies-item {
        flex-basis: calc((100% - 60px) / 3);
    }
}