.management-img {
    margin: 0 auto 50px;
}

.management-pre-text {
    font-weight: 600;
    margin-bottom: 8px;
}

.management-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 16px;
}

.management-text {
    margin-bottom: 16px;
}

.management-item:not(:last-child) {
    margin-bottom: 16px;
}

.management-sub-title {
    font-weight: 600;
    margin-bottom: 12px;
}

@media screen and (min-width: 1150px) {
    .management-img {
        margin: 0;
    }

    .management-section-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 84px;
    }

    .management-title {
        margin-bottom: 26px;
    }

    .management-text {
        max-width: 486px;
        margin-bottom: 30px;
    }

    .management-item-text {
        max-width: 486px;
        margin-bottom: 24px;
    }
}