.feedback-section {
    padding: 50px 0;
}

.feedback-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.68;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 8px;
}

.feedback-text {
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 32px;
}

.feedback-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.feedback-item {
    border: 1px solid var(--feedback-border-color);
    border-radius: 5px;
    padding: 28px 26px;
}

.star-list {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 16px;
}

.star-icon {
    fill: var(--star-icon-color)
}

.feedback-description {
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: var(--feedback-font-color);
    margin-bottom: 16px;
}

.author-container {
    display: flex;
    align-items: center;
    gap: 14px;
}

.feedback-sub-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: var(--accent-font-color);
}

.feedback-sub-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.01em;
    color: var(--feddback-author-font-color);
}