<div class="choose-section">
    <div class="container">
        <h2 class="choose-title">Why Choose Product?</h2>
        <ul class="choose-list">
            <li class="choose-item">
                <svg class="choose-icon arrow" width="18" height="18">
                    <use href="./img/icons.svg#icon-arrow"></use>
                </svg>
                <h3 class="choose-sub-title">Special Business</h3>
                <p class="choose-text">
                    Product helps you see how many more days you need to work to reach your financial goal for the month
                    and year.
                </p>
            </li>
            <li class="choose-item">
                <svg class="choose-icon line" width="18" height="18">
                    <use href="./img/icons.svg#icon-line"></use>
                </svg>
                <h3 class="choose-sub-title">Instant Result</h3>
                <p class="choose-text">
                    Product helps you see how many more days you need to work to reach your financial goal for the month
                    and year.
                </p>
            </li>
            <li class="choose-item">
                <svg class="choose-icon heart" width="18" height="18">
                    <use href="./img/icons.svg#icon-heart"></use>
                </svg>
                <h3 class="choose-sub-title">Fastest way to organize</h3>
                <p class="choose-text">
                    Product helps you see how many more days you need to work to reach your financial goal for the month
                    and year.
                </p>
            </li>
        </ul>
    </div>
</div>