<div class="how-work-section">
    <div class="container">
        <h2 class="how-work-title">How Product Work?</h2>
        <ul class="how-work-list">
            <li class="how-work-item">
                <picture>
                    <source srcset="" media="(min-width: 1150px)">
                    <source srcset="/img/mobile/step-one-mac.png 1x, /img/mobile/step-one-mac@2x.png 2x"
                        media="(min-width: 370px)">
                    <img class="how-work-img" src="/img/mobile/step-one-mac.png" alt="A laptop">
                </picture>
                <p class="how-work-text">STEP 1</p>
                <h3 class="how-work-sub-title">Apply for a product</h3>
                <p class="how-work-description">
                    Completing our easy step-by-step application form gives you access to multiple business with
                    multiple products. We analyse your business through our proprietary credit analysis technology
                </p>
            </li>
            <li class="how-work-item">
                <picture>
                    <source srcset="" media="(min-width: 1150px)">
                    <source srcset="/img/mobile/step-two-mac.png 1x, /img/mobile/step-two-mac@2x.png 2x"
                        media="(min-width: 370px)">
                    <img class="how-work-img" src="/img/mobile/step-two-mac.png" alt="A laptop">
                </picture>
                <p class="how-work-text">STEP 2</p>
                <h3 class="how-work-sub-title">Pay fully refundable</h3>
                <p class="how-work-description">
                    Product will contactting you instantly to receive payment of the Application Fee. if no offer of
                    product is available, your fee will be fully refunded.
                </p>
            </li>
            <li class="how-work-item">
                <picture>
                    <source srcset="" media="(min-width: 1150px)">
                    <source srcset="/img/mobile/step-three-mac.png 1x, /img/mobile/step-three-mac@2x.png 2x"
                        media="(min-width: 370px)">
                    <img class="how-work-img" src="/img/mobile/step-three-mac.png" alt="A laptop">
                </picture>
                <p class="how-work-text">STEP 3</p>
                <h3 class="how-work-sub-title">Completion</h3>
                <p class="how-work-description">
                    Product will continue to liase between borrower and manager to procees and complete a quick and
                    efficient settlement
                </p>
            </li>
        </ul>
    </div>
</div>