<div class="customer-hero-section">
    <div class="container">
        <h1 class="customer-title">Our Clients</h1>
        <ul class="customer-list">
            <li class="customer-item">
                <a class="customer-link"
                    href="https://www.airbnb.com.ua/?_set_bev_on_new_domain=1729348475_EAN2MyMzFjODhiZT"
                    target="_blank">
                    <svg class="customer-icon" width="160" height="50">
                        <use href="/img/icons.svg#icon-airbnb"></use>
                    </svg>
                </a>
            </li>
            <li class="customer-item">
                <a class="customer-link" href="https://www.fedex.com" target="_blank">
                    <svg class="customer-icon" width="140" height="42">
                        <use href="/img/icons.svg#icon-fedex"></use>
                    </svg>
                </a>
            </li>
            <li class="customer-item">
                <a class="customer-link" href="https://www.google.com/" target="_blank">
                    <svg class="customer-icon" width="146" height="50">
                        <use href="/img/icons.svg#icon-google"></use>
                    </svg>
                </a>
            </li>
            <li class="customer-item">
                <a class="customer-link" href="https://www.microsoft.com/uk-ua/" target="_blank">
                    <svg class="customer-icon" width="164" height="34">
                        <use href="/img/icons.svg#icon-microsoft"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>