<div class="join-section">
    <div class="container">
        <h2 class="join-title">Join thousand of other who have already received offers</h2>
        <ul class="join-list">
            <li class="join-item">
                <div class="join-img-container red">
                    <img class="join-img" src="/img/mobile/join-activity.png"
                        srcset="/img/mobile/join-activity.png 1x, /img/mobile/join-activity@2x.png 2x"
                        alt="An activity icon" width="60" height="60">
                </div>
                <h3 class="join-sub-title">Business</h3>
                <ul class="join-text-list">
                    <li class="join-item">
                        <p class="join-section-text">Cash Flow</p>
                    </li>
                    <li class="join-item">
                        <p class="join-section-text">Asset Backed</p>
                    </li>
                    <li class="join-item">
                        <p class="join-section-text">Receivables Finance</p>
                    </li>
                </ul>
                <p class="join-text-call">Find the best business product</p>
            </li>
            <li class="join-item">
                <div class="join-img-container blue">
                    <img class="join-img" src="/img/mobile/join-chart.png"
                        srcset="/img/mobile/join-chart.png 1x, /img/mobile/join-chart@2x.png 2x" alt="An activity icon"
                        width="60" height="60">
                </div>
                <h3 class="join-sub-title">Enterprise</h3>
                <ul class="join-text-list">
                    <li class="join-item">
                        <p class="join-section-text">Site Acquisition</p>
                    </li>
                    <li class="join-item">
                        <p class="join-section-text">Bridge</p>
                    </li>
                    <li class="join-item">
                        <p class="join-section-text">Development Financing</p>
                    </li>
                </ul>
                <p class="join-text-call">Find the best business product</p>
            </li>
        </ul>
    </div>
</div>