<div class="container">
    <div class="footer-container">
        <div class="logo-social-container">
            <!-- Logo -->
            <a class="logo-link footer-logo" href="./index.html">
                <img class="logo-img" src="./img/logo.png" alt="logo" width="40" height="36">
                <p class="logo-text">Product</p>
            </a>

            <!-- Social icons -->
            <ul class="social-list">
                <li class="social-item">
                    <a class="social-link" href="https://www.instagram.com/" target="_blank"
                        aria-label="Link to the instagram">
                        <svg class="social-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link" href="https://www.facebook.com/" target="_blank"
                        aria-label="Link to the facebook">
                        <svg class="social-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link" href="https://x.com/" target="_blank" aria-label="Link to the twitter">
                        <svg class="social-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Resource -->
        <div class="resource-container">
            <p class="resource-title">Resource</p>
            <ul class="resource-list">
                <li class="resource-item"><a class="resource-link" href="#">About Us</a></li>
                <li class="resource-item"><a class="resource-link" href="#">Blog</a></li>
                <li class="resource-item"><a class="resource-link" href="#">Contact</a></li>
                <li class="resource-item"><a class="resource-link" href="#">FAQ</a></li>
            </ul>
        </div>

        <!-- Legal Stuff -->
        <div class="legal-container">
            <p class="legal-title">Legal Stuff</p>
            <ul class="legal-list">
                <li class="legal-item"><a class="legal-link" href="#">Disclaimer</a></li>
                <li class="legal-item"><a class="legal-link" href="#">Financing</a></li>
                <li class="legal-item"><a class="legal-link" href="#">Privacy Policy</a></li>
                <li class="legal-item"><a class="legal-link" href="#">Terms of Service</a></li>
            </ul>
        </div>

        <!-- Form -->
        <div class="form-container">
            <p class="form-title">knowing you're always on the best energy deal.</p>
            <form class="footer-form" name="footer-form">
                <svg class="footer-form-icon" width="16" height="24">
                    <use href="/img/icons.svg#icon-phone"></use>
                </svg>
                <input class="footer-form-input" type="tel" name="user-phone" placeholder="Your phone number" required>
            </form>
            <button class="form-button" type="submit">Sign up Now</button>
        </div>
    </div>

    <p class="footer-right">Made With Love By Product All Right Reserved</p>
</div>