<div class="container">
    <nav class="navigation header-nav">

        <!-- Logo -->
        <a class="logo-link" href="./index.html">
            <img class="logo-img" src="./img/logo.png" alt="logo" width="40" height="36">
            <p class="logo-text">Product</p>
        </a>

        <ul class="header-link-list">
            <li><a class="header-link current" href="./index.html">Product</a></li>
            <li><a class="header-link" href="./customer.html">Customers</a></li>
            <li><a class="header-link" href="./pricing.html">Pricing</a></li>
            <li><a class="header-link" href="./resources.html">Resources</a></li>
        </ul>

        <ul class="header-authorization-list">
            <li class="header-authorization-item">
                <a class="header-authorization-btn sign-in" href="./sign-in-page.html">Sign In</a>
            </li>
            <li class="header-authorization-item">
                <a class="header-authorization-btn sign-up" href="./sign-up-page.html">Sign Up</a>
            </li>
        </ul>

        <!-- Burger button -->
        <button class="burger-button mobile-btn-open">
            <svg class="burger-icon" width="28" height="30">
                <use href="./img/icons.svg#icon-burger"></use>
            </svg>
        </button>
    </nav>
</div>