<section class="section join-card">
    <div class="container">
        <div class="join-bg join-card-container">
            <div class="join-card-text-container">
                <h2 class="visually-hidden">Join Card</h2>
                <p class="join-text">Join 100 Compannies who boost their business with Product</p>
                <button class="join-button modal-btn-open" type="button">Get This</button>
            </div>

            <picture>
                <source srcset="/img/mobile/join-img.png 1x, /img/mobile/join-img@2x.png 2x" media="(min-width: 1150px)"
                    type="image/png">
                <source srcset="/img/mobile/join-img.webp 1x, /img/mobile/join-img@2x.webp 2x"
                    media="(min-width: 1150px)" type="image/webp">

                <source srcset="/img/mobile/join-img.png 1x, /img/mobile/join-img@2x.png 2x" media="(min-width: 410px)"
                    type="image/png">
                <source srcset="/img/mobile/join-img.webp 1x, /img/mobile/join-img@2x.webp 2x"
                    media="(min-width: 410px)" type="image/webp">

                <img class="join-img" src="/img/mobile/join-img.png" alt="Screens" width="350">
            </picture>
        </div>
    </div>
</section>