<div class="mobile-window "> <!-- is-open -->
    <button class="close-btn mobile-btn-close" type="button">
        <svg class="close-icon" width="20" height="20">
            <use href="/img/icons.svg#icon-close"></use>
        </svg>
    </button>

    <nav class="mobile-nav">
        <ul class="mobile-link-list">
            <li><a class="mobile-link current" href="../index.html">Product</a></li>
            <li><a class="mobile-link" href="../customer.html">Customers</a></li>
            <li><a class="mobile-link" href="../pricing.html">Pricing</a></li>
            <li><a class="mobile-link" href="../resources.html">Resources</a></li>
        </ul>

        <ul class="mobile-authorization-list">
            <li class="mobile-authorization-item"><a class="mobile-authorization-btn sign-in" href="#">Sign In</a></li>
            <li class="mobile-authorization-item"><a class="mobile-authorization-btn sign-up" href="#">Sign Up</a></li>
        </ul>
    </nav>
</div>