<div class="modal-overlay">
    <div class="modal-window">
        <button class="modal-close-btn modal-btn-close" type="button">
            <svg class="modal-close-icon" width="20" height="20">
                <use href="/img/icons.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="modal-form-title">Send a message</h2>
        <form class="modal-form">
            <input class="modal-form-input" type="text" name="user-name" placeholder="Your Name" required>
            <input class="modal-form-input" type="email" name="user-email" placeholder="Your Email" required>
            <textarea class="modal-form-textarea" name="user-message" placeholder="Your Message"></textarea>
        </form>
        <button class="modal-form-button" type="submit">Send</button>
    </div>
</div>