<div class="question-section">
    <div class="container">
        <h2 class="question-title">Frequently asked question</h2>
        <p class="question-text">Something is not clear? You need help? Check our FAQ section</p>
        <ul class="question-list">
            <li class="question-item">
                <details class="question-details">
                    <summary class="question-summary">What are my payment option?</summary>
                    <div class="answer">
                        After creating your account you will have an oppurtunity to create your first project that will
                        be
                        associated withthe collaborators e-mail. An invitation will be sent automatically. Then, invited
                        user will have to confirm his account by e-mail and finish userd onboarding.
                    </div>
                </details>
            </li>
            <li class="question-item">
                <details class="question-details" open>
                    <summary class="question-summary">How can I invite collaborator to platform?</summary>
                    <div class="answer">
                        After creating your account you will have an oppurtunity to create your first project that will
                        be
                        associated withthe collaborators e-mail. An invitation will be sent automatically. Then, invited
                        user will have to confirm his account by e-mail and finish userd onboarding.
                    </div>
                </details>
            </li>
            <li class="question-item">
                <details class="question-details">
                    <summary class="question-summary">Can I upgrade my plan?</summary>
                    <div class="answer">
                        After creating your account you will have an oppurtunity to create your first project that will
                        be
                        associated withthe collaborators e-mail. An invitation will be sent automatically. Then, invited
                        user will have to confirm his account by e-mail and finish userd onboarding.
                    </div>
                </details>
            </li>
            <li class="question-item">
                <details class="question-details">
                    <summary class="question-summary">Can I cancel my plan at anytime?</summary>
                    <div class="answer">
                        After creating your account you will have an oppurtunity to create your first project that will
                        be
                        associated withthe collaborators e-mail. An invitation will be sent automatically. Then, invited
                        user will have to confirm his account by e-mail and finish userd onboarding.
                    </div>
                </details>
            </li>
        </ul>
    </div>
</div>