<section class=" price-section">
    <div class="container">
        <h2 class="price-title">Price Table</h2>
        <p class="price-text">We offer competitive price</p>
        <ul class="price-list">
            <li class="price-item">
                <h3 class="price-sub-title">Free</h3>
                <p class="price-description">Brief price description</p>
                <div class="price-num-container">
                    <p class="price-num">0</p>
                    <div class="price-period-container">
                        <p class="price-currency">$</p>
                        <p class="price-period">Per / month</p>
                    </div>
                </div>
                <ul class="price-list-services">
                    <li class="price-item-services">Only 2 Operators</li>
                    <li class="price-item-services">Notifications</li>
                    <li class="price-item-services">Landing Pages</li>
                </ul>
                <button class="price-button" type="button">Order Now</button>
            </li>
            <li class="price-item">
                <h3 class="price-sub-title">Standard</h3>
                <p class="price-description">Brief price description</p>
                <div class="price-num-container">
                    <p class="price-num">5</p>
                    <div class="price-period-container">
                        <p class="price-currency">$</p>
                        <p class="price-period">Per / month</p>
                    </div>
                </div>
                <ul class="price-list-services">
                    <li class="price-item-services">5+ Operators</li>
                    <li class="price-item-services">Notifications</li>
                    <li class="price-item-services">Landing Pages</li>
                </ul>
                <button class="price-button" type="button">Order Now</button>
            </li>
            <li class="price-item">
                <h3 class="price-sub-title">Premium</h3>
                <p class="price-description">Brief price description</p>
                <div class="price-num-container">
                    <p class="price-num">10</p>
                    <div class="price-period-container">
                        <p class="price-currency">$</p>
                        <p class="price-period">Per / month</p>
                    </div>
                </div>
                <ul class="price-list-services">
                    <li class="price-item-services">10+ Operators</li>
                    <li class="price-item-services">Notifications</li>
                    <li class="price-item-services">Landing Pages</li>
                </ul>
                <button class="price-button" type="button">Order Now</button>
            </li>
        </ul>
    </div>
</section>