<div class="effect-section">
    <div class="container">
        <h2 class="effect-title"> Product is being used with great effects alongside:</h2>

        <div class="effect-img-text-container">

            <picture>
                <source srcset="/img/mobile/effect-img.webp 1x, /img/mobile/effect-img@2x.webp 2x"
                    media="(min-width: 410px)" type="image/webp">
                <source srcset="/img/mobile/effect-img.png 1x, /img/mobile/effect-img@2x.png 2x"
                    media="(min-width: 410px)" type="image/png">
                <img class="mobile-img" src="/img/mobile/effect-img.png" alt="People">
            </picture>

            <img class="desktop-img" src="/img/desktop/effect-img.png"
                srcset="/img/desktop/effect-img.png 1x, /img/desktop/effect-img@2x.png 2x" alt="People">

            <ul class="effect-list">
                <li class="effect-item">
                    <div class="icon-title-container">
                        <div class="icon-container">
                            <svg class="effect-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-enterpreneur"></use>
                            </svg>
                        </div>
                        <h3 class="effect-sub-title">Enterpreneur</h3>
                    </div>
                    <p class="effect-text">
                        Product is a great way to help medium and samall enterprise owners achieve their goals
                    </p>
                </li>
                <li class="effect-item">
                    <div class="icon-title-container">
                        <div class="icon-container">
                            <svg class="effect-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-accountants"></use>
                            </svg>
                        </div>
                        <h3 class="effect-sub-title">Accountants</h3>
                    </div>
                    <p class="effect-text">
                        Whether you are working on contract with clients, or on other key accounting documents, Product
                        is for you
                    </p>
                </li>
                <li class="effect-item">
                    <div class="icon-title-container">
                        <div class="icon-container">
                            <svg class="effect-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-universities"></use>
                            </svg>
                        </div>
                        <h3 class="effect-sub-title">Universities</h3>
                    </div>
                    <p class="effect-text">
                        Organize university projects and have documents easily graded online with Product
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>