<section class="section process-section">
    <div class="container">
        <h2 class="process-title">Quick &amp; Easy Process</h2>
        <p class="process-text">
            Do you require some help for your project: Conception workshop, prototyping, marketing strategy, landing
            page, UX/UI?
        </p>
        <ul class="process-list">
            <li class="process-item">
                <picture>
                    <source srcset="/img/desktop/pitch.png 1x, /img/desktop/pitch@2x.png 2x" media="(min-width: 1150px)"
                        type="image/png">
                    <source srcset="/img/desktop/pitch.webp 1x, /img/desktop/pitch@2x.webp 2x"
                        media="(min-width: 1150px)" type="image/webp">
                    <source srcset="/img/mobile/pitch.png 1x, /img/mobile/pitch@2x.png 2x" media="(min-width: 410px)"
                        type="image/png">
                    <source srcset="/img/mobile/pitch.webp 1x, /img/mobile/pitch@2x.webp 2x" media="(min-width: 410px)"
                        type="image/webp">
                    <img class="process-img" src="/img/mobile/pitch.png" alt="A pitch specialist" width="98">
                </picture>
                <p class="process-description">I can take care of your pitch</p>
            </li>
            <li class="process-item">
                <p class="process-description">I can design you website</p>
                <picture>
                    <source srcset="/img/desktop/design.png 1x, /img/desktop/design@2x.png 2x"
                        media="(min-width: 1150px)" type="image/png">
                    <source srcset="/img/desktop/design.webp 1x, /img/desktop/design@2x.webp 2x"
                        media="(min-width: 1150px)" type="image/webp">
                    <source srcset="/img/mobile/design.png 1x, /img/mobile/design@2x.png 2x" media="(min-width: 410px)"
                        type="image/png">
                    <source srcset="/img/mobile/design.webp 1x, /img/mobile/design@2x.webp 2x"
                        media="(min-width: 410px)" type="image/webp">
                    <img class="process-img" src="/img/mobile/design.png" alt="A design specialist" width="98">
                </picture>
            </li>
            <li class="process-item">
                <picture>
                    <source srcset="/img/desktop/marketing.png 1x, /img/desktop/marketing@2x.png 2x"
                        media="(min-width: 1150px)" type="image/png">
                    <source srcset="/img/desktop/marketing.webp 1x, /img/desktop/marketing@2x.webp 2x"
                        media="(min-width: 1150px)" type="image/webp">
                    <source srcset="/img/mobile/marketing.png 1x, /img/mobile/marketing@2x.png 2x"
                        media="(min-width: 410px)" type="image/png">
                    <source srcset="/img/mobile/marketing.webp 1x, /img/mobile/marketing@2x.webp 2x"
                        media="(min-width: 410px)" type="image/webp">
                    <img class="process-img" src="/img/mobile/marketing.png" alt="A marketing specialist" width="98">
                </picture>
                <p class="process-description">I can help marketing strategy</p>
            </li>
            <li class="process-item">
                <p class="process-description">I can prototype your app</p>
                <picture>
                    <source srcset="/img/desktop/prototype.png 1x, /img/desktop/prototype@2x.png 2x"
                        media="(min-width: 1150px)" type="image/png">
                    <source srcset="/img/desktop/prototype.webp 1x, /img/desktop/prototype@2x.webp 2x"
                        media="(min-width: 1150px)" type="image/webp">
                    <source srcset="/img/mobile/prototype.png 1x, /img/mobile/prototype@2x.png 2x"
                        media="(min-width: 410px)" type="image/png">
                    <source srcset="/img/mobile/prototype.webp 1x, /img/mobile/prototype@2x.webp 2x"
                        media="(min-width: 410px)" type="image/webp">
                    <img class="process-img" src="/img/mobile/prototype.png" alt="An app's prototype specialist"
                        width="98">
                </picture>
            </li>
        </ul>
        <button class="process-button modal-btn-open" type="button">Contact our expert</button>
    </div>
</section>