<section class="hero-section">
    <div class="container hero-section-container">
        <picture>
            <source srcset="/img/desktop/hero-img.png 1x, /img/desktop/hero-img@2x.png 2x" media="(min-width: 1150px)">
            <source srcset="/img/mobile/hero-img.png 1x, /img/mobile/hero-img@2x.png 2x" media="(min-width: 410px)">
            <img class="hero-img" src="/img/mobile/hero-img.png" alt="Hero image" width="610px">
        </picture>
        <div class="hero-text-container">
            <h1 class="hero-title">Work at the speed of thought</h1>
            <p class="hero-text">
                Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine
                your next user experience.
            </p>
            <ul class="hero-list">
                <li>
                    <a class="hero-btn started-btn" href="./sign-up-page.html">Get started</a>
                </li>
                <li>
                    <button class="hero-btn video-btn" type="button" aria-label="Open modal window button">
                        <svg class="video-icon" width="17" height="20">
                            <use href="./img/icons.svg#icon-play"></use>
                        </svg>
                        Watch the Video
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>