<div class="container">
    <section class="build-section">
        <h2 class="build-title">Product was Built Specifically for You</h2>
        <ul class="build-list">
            <li class="build-item">
                <svg class="build-icon arrow" width="18" height="18">
                    <use href="./img/icons.svg#icon-arrow"></use>
                </svg>
                <h3 class="build-sub-title">First click tests</h3>
                <p class="build-text">While most people enjoy casino gambling,</p>
            </li>
            <li class="build-item">
                <svg class="build-icon line" width="18" height="18">
                    <use href="./img/icons.svg#icon-line"></use>
                </svg>
                <h3 class="build-sub-title">Design surveys</h3>
                <p class="build-text">Sports betting, lottery and bingo playing for the fun</p>
            </li>
            <li class="build-item">
                <svg class="build-icon heart" width="18" height="18">
                    <use href="./img/icons.svg#icon-heart"></use>
                </svg>
                <h3 class="build-sub-title">Preference tests</h3>
                <p class="build-text">The Myspace page defines the individual.</p>
            </li>
            <li class="build-item">
                <svg class="build-icon clock" width="18" height="18">
                    <use href="./img/icons.svg#icon-clock"></use>
                </svg>
                <h3 class="build-sub-title">Five second tests</h3>
                <p class="build-text">Personal choices and the overall personality of the person.</p>
            </li>
        </ul>

        <button class="build-button">SIGN UP NOW</button>
    </section>
</div>