<section class="section collaborative-section">
    <div class="container collaborative-section-container">
        <picture>
            <source srcset="/img/desktop/collaborative-img.png 1x, /img/desktop/collaborative-img@2x.png 2x"
                media="(min-width: 1150px)">
            <source srcset="/img/mobile/collaborative-img.png 1x, /img/mobile/collaborative-img@2x.png 2x"
                media="(min-width: 410px)">
            <img class="collaborative-img" src="/img/mobile/collaborative-img.png" alt="An iamges" width="540">
        </picture>
        <div class="collaborative-text-container">
            <p class="collaborative-pre-text">Optimisation for</p>
            <h2 class="collaborative-title">Collaborative</h2>
            <p class="collaborative-text">
                Few would argue that, despite the advancements of feminism over the past three decades, women still face
                a
                double standard when it comes to their behavior.
            </p>
            <ul class="collaborative-list">
                <li class="collaborative-item">
                    <h3 class="collaborative-sub-title">Accessory makers</h3>
                    <p class="collaborative-description">While most people enjoy casino gambling, sports betting,
                        lottery
                        and bingo playing for the fun.</p>
                </li>
                <li class="collaborative-item">
                    <h3 class="collaborative-sub-title">Alterationists</h3>
                    <p class="collaborative-description">If you are looking for a new way to promote your business that
                        won't cost you more money.</p>
                </li>
            </ul>
        </div>
    </div>
</section>