<section class="section management-section">
    <div class="container">
        <picture>
            <source srcset="" media="(min-width: 1150px)">
            <source srcset="/img/mobile/manag-img.png 1x, /img/mobile/manag-img@2x.png 2x" media="(min-width: 370px)">
            <img class="management-img" src="/img/mobile/manag-img.png" alt="Document">
        </picture>
        <p class="management-pre-text">Effortless Validation for</p>
        <h2 class="management-title">Management</h2>
        <p class="management-text">
            The Myspace page defines the individual, his or her characteristics, traits, personal choices and the
            overall personality of the person.
        </p>
        <ul class="management-list">
            <li class="management-item">
                <h3 class="management-sub-title">Accessory makers</h3>
                <p class="management-item-text">While most people enjoy casino gambling, sports betting, lottery and
                    bingo playing for the fun</p>
            </li>
            <li class="management-item">
                <h3 class="management-sub-title">Alterationists</h3>
                <p class="management-item-text">If you are looking for a new way to promote your business that won't
                    cost you more money,</p>
            </li>
        </ul>
    </div>
</section>