<section class="support-section">
    <div class="container">
        <picture>
            <source srcset="" media="(min-width: 1200px)">
            <source srcset="/img/mobile/support-img.png 1x, /img/mobile/support-img@2x.png 2x"
                media="(min-width: 320px)">
            <img class="support-img" src="/img/mobile/support-img.png" alt="A laptop">
        </picture>
        <p class="support-pre-text">Easier decision making for</p>
        <h2 class="support-title">Customer Support</h2>
        <p class="support-text">
            The Myspace page defines the individual, his or her characteristics, traits, personal choices and the
            overall personality of the person.
        </p>
        <ul class="support-list">
            <li class="support-item">
                <svg class="support-icon orange" width="20" height="20">
                    <use href="/img/icons.svg#icon-check-mark"></use>
                </svg>
                <p class="support-description">Never worry about overpaying for your energy again.</p>
            </li>
            <li class="support-item">
                <svg class="support-icon red" width="20" height="20">
                    <use href="/img/icons.svg#icon-check-mark"></use>
                </svg>
                <p class="support-description">We will only switch you to energy companies that we trust and will treat
                    you right</p>
            </li>
            <li class="support-item">
                <svg class="support-icon blue" width="20" height="20">
                    <use href="/img/icons.svg#icon-check-mark"></use>
                </svg>
                <p class="support-description">We track the markets daily and know where the savings are.</p>
            </li>
        </ul>
    </div>
</section>