<section class="section feedback-section">
    <div class="container">
        <h2 class="feedback-title">What Clients Say</h2>
        <p class="feedback-text">
            Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian
            mechanics
        </p>
        <ul class="feedback-list">
            <li class="feedback-item">
                <ul class="star-list">
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-empty-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="feedback-description">Product helps you see how many more days you need to work to reach your
                    financial goal.</p>
                <div class="author-container">
                    <img class="feedback-img" src="/img/mobile/feedback-designer.png"
                        srcset="/img/mobile/feedback-designer.png 1x, /img/mobile/feedback-designer@2x.png 2x"
                        alt="A woman" width="50" height="50">
                    <div class="author-text-container">
                        <h3 class="feedback-sub-title">Wahid Ari</h3>
                        <p class="feedback-sub-text">Designer</p>
                    </div>
                </div>
            </li>
            <li class="feedback-item">
                <ul class="star-list">
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-empty-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="feedback-description">Product helps you see how many more days you need to work to reach your
                    financial goal.</p>
                <div class="author-container">
                    <img class="feedback-img" src="/img/mobile/feedback-front-end.png"
                        srcset="/img/mobile/feedback-front-end.png 1x, /img/mobile/feedback-front-end@2x.png 2x"
                        alt="A man" width="50" height="50">
                    <div class="author-text-container">
                        <h3 class="feedback-sub-title">Wahid Ari</h3>
                        <p class="feedback-sub-text">FrontEnd</p>
                    </div>
                </div>
            </li>
            <li class="feedback-item">
                <ul class="star-list">
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="star-item">
                        <svg class="star-icon" width="18" height="18">
                            <use href="/img/icons.svg#icon-empty-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="feedback-description">Product helps you see how many more days you need to work to reach your
                    financial goal.</p>
                <div class="author-container">
                    <img class="feedback-img" src="/img/mobile/feedback-analys.png"
                        srcset="/img/mobile/feedback-analys.png 1x, /img/mobile/feedback-analys@2x.png 2x" alt="A man"
                        width="50" height="50">
                    <div class="author-text-container">
                        <h3 class="feedback-sub-title">Wahid Ari</h3>
                        <p class="feedback-sub-text">Analys</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>