<section class="hero-section">
    <div class="container">
        <picture>
            <source srcset="" media="(min-width: 1200px)">
            <source srcset="/img/mobile/hero-img.png 1x, /img/mobile/hero-img@2x.png 2x" media="(min-width: 320px)">
            <img class="hero-img" src="/img/mobile/hero-img.png" alt="Hero image">
        </picture>
        <h1 class="hero-title">Work at the speed of thought</h1>
        <p class="hero-text">
            Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your
            next user experience.
        </p>
        <ul class="hero-list">
            <li>
                <button class="hero-btn started-btn" type="button">Get started</button>
            </li>
            <li>
                <button class="hero-btn video-btn" type="button">
                    <svg class="video-icon" width="17" height="20">
                        <use href="../img/icons.svg#icon-play"></use>
                    </svg>

                </button>
            </li>
        </ul>
    </div>
</section>