<div class="contact-us-section">
    <div class="container">
        <h2 class="contact-us-title">Contact Us</h2>
        <ul class="contsct-us-list">
            <li class="contact-us-item">
                <svg class="contact-us-icon twitter" width="40" height="40">
                    <use href="/img/icons.svg#icon-twitter-square"></use>
                </svg>
            </li>
            <li class="contact-us-item">
                <svg class="contact-us-icon facebook" width="40" height="40">
                    <use href="/img/icons.svg#icon-facebook-square"></use>
                </svg>
            </li>
            <li class="contact-us-item">
                <svg class="contact-us-icon linkedin" width="40" height="40">
                    <use href="/img/icons.svg#icon-linkedin-square"></use>
                </svg>
            </li>
        </ul>
        <p class="contact-us-text">Need more detailed information? Get in touch with us.</p>
        <picture>
            <source srcset="" media="(min-width: 1150px)">
            <source srcset="/img/mobile/map.png 1x, /img/mobile/map@2x.png 2x" media="(min-width: 370px)">
            <img class="contact-us-img" src="/img/mobile/map.png" alt="A map">
        </picture>
    </div>
</div>