<div class="message-form-section">
    <div class="container">
        <h2 class="message-form-title">Send a message</h2>
        <form class="message-form">
            <input class="message-form-input" type="text" name="user-name" placeholder="Your Name">
            <input class="message-form-input" type="email" name="user-email" placeholder="Your Email">
            <textarea class="message-form-textarea" name="user-message" placeholder="Your Message"></textarea>
        </form>
        <button class="message-form-button" type="submit">Send</button>
    </div>
</div>