<div class="contact-us-section">
    <div class="container">
        <h2 class="contact-us-title">Contact Us</h2>
        <ul class="contsct-us-list-mobile">
            <li class="contact-us-item">
                <svg class="contact-us-icon twitter" width="40" height="40">
                    <use href="/img/icons.svg#icon-twitter-square"></use>
                </svg>
            </li>
            <li class="contact-us-item">
                <svg class="contact-us-icon facebook" width="40" height="40">
                    <use href="/img/icons.svg#icon-facebook-square"></use>
                </svg>
            </li>
            <li class="contact-us-item">
                <svg class="contact-us-icon linkedin" width="40" height="40">
                    <use href="/img/icons.svg#icon-linkedin-square"></use>
                </svg>
            </li>
        </ul>
        <p class="contact-us-text">Need more detailed information? Get in touch with us.</p>

        <ul class="social-list resource">
            <li class="social-item">
                <a class="social-link" href="https://www.instagram.com/" target="_blank"
                    aria-label="Link to the instagram">
                    <svg class="social-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a class="social-link" href="https://www.facebook.com/" target="_blank"
                    aria-label="Link to the facebook">
                    <svg class="social-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a class="social-link" href="https://x.com/" target="_blank" aria-label="Link to the twitter">
                    <svg class="social-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <img class="contact-us-img-mobile" src="/img/mobile/map.png"
            srcset="/img/mobile/map.png 1x, /img/mobile/map@2x.png 2x" alt="A map" width="362px">

        <img class="contact-us-img-desktop" src="/img/desktop/map.png"
            srcset="/img/desktop/map.png 1x, /img/desktop/map@2x.png 2x" alt="A map" width="870px">

    </div>
</div>