<div class="subscribe-section">
    <div class="container">
        <h2 class="subscribe-title">Great Business made with Product.</h2>
        <p class="subscribe-text">
            Build better customer relationships easily messaging that provides a more personal
            experience for you and your customers.
        </p>
        <form class="subscribe-form" name="subscribe">
            <input class="form-input" type="text" placeholder="Enter your email adress" required>
            <button class="subscribe-button" type="submit">Join Now</button>
        </form>
        <div class="img-users-container">
            <ul class="subscribe-img-list">
                <li class="subscribe-item">
                    <img class="subscribe-img" src="/img/img-first.png"
                        srcset="/img/img-first.png 1x, /img/img-first@2x.png 2x" alt="A man with glasses">
                </li>
                <li class="subscribe-item">
                    <img class="subscribe-img" src="/img/img-second.png"
                        srcset="/img/img-second.png 1x, /img/img-second@2x.png 2x" alt="A man with black skin">
                </li>
                <li class="subscribe-item">
                    <img class="subscribe-img" src="/img/img-third.png"
                        srcset="/img/img-third.png 1x, /img/img-third@2x.png 2x" alt="A man with blonde hair">
                </li>
            </ul>
            <p class="subscribe-users">Join over <span class="num">4,000</span><span class="plus">+</span> other</p>
        </div>
        <picture>
            <source srcset="" media="(min-width: 1150px)">
            <source srcset="/img/mobile/subscribe-screen.png 1x, /img/mobile/subscribe-screen@2x.png 2x"
                media="(min-width: 370px)">
            <img class="subscribe-img" src="/img/mobile/subscribe-screen.png" alt="A screen of laptop">
        </picture>
    </div>
</div>