<div class="sign-up-section">
    <div class="container">
        <h2 class="sign-up-form-title">Sign Up</h2>
        <form class="sign-up-form">
            <input class="sign-up-form-input" type="text" name="user-name" placeholder="Your Name" required>
            <input class="sign-up-form-input" type="tel" name="user-tel" placeholder="Your Phone" required>
            <input class="sign-up-form-input" type="email" name="user-email" placeholder="Your Email" required>
            <input class="sign-up-form-input" type="password" name="user-password" placeholder="Your Password" required>
        </form>
        <button class="sign-up-form-button" type="submit">Sign Up</button>
        <p class="sign-up-text">
            Already have an account?
            <a class="sign-in-link" href="./sign-in-page.html">Sign in</a>
        </p>
    </div>
</div>