.header {
    position: fixed;
    z-index: 998;
    top: 0;
    width: 100%;
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--body-light-bg);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}

.burger-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
}

.burger-icon {
    fill: none;
    stroke-width: 3px;
    stroke: #173a56;
    transition: stroke 0.3s;
}

.burger-icon:hover,
.burger-icon:focus {
    stroke: var(--button-bg-color);
}