.mobile-window {
    position: fixed;
    top: 4px;
    right: 0;

    width: 220px;
    height: 300px;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;

    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--card-bg-color);

    transform: translateX(100%);
    pointer-events: none;
    transition: transform 0.3s;
}

.mobile-window.is-open {
    transform: translateX(0%);
    pointer-events: auto;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
}

.close-icon {
    fill: #fff;
    transition: fill 0.3s;
}

.close-icon:hover,
.close-icon:focus {
    fill: #22343d;
}

.mobile-link-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}

.mobile-link {
    font-size: var(--main-font-size);
    line-height: 1.75;
    color: #fff;
    transition: color 0.3s, font-weight 0.3s;
}

.mobile-link:hover,
.mobile-link:focus {
    color: var(--main-dark-font-color);
    font-weight: 700;
}

.current {
    color: var(--main-dark-font-color);
    font-weight: 700;
}

.mobile-authorization-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-authorization-btn {
    min-width: 102px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
}

.sign-in {
    background-color: #fff;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    color: #173a56;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.sign-in:hover,
.sign-in:focus {
    background-color: #02897a;
    border-color: 02897a;
    color: #fff;
}

.sign-up {
    color: #fff;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    background-color: #02897a;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.sign-up:hover,
.sign-up:focus {
    color: #173a56;
    background-color: #fff;
    border-color: #fff;
}