.contact-us-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-us-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 10px;
}

.social-list.resource {
    display: none;
}

.contsct-us-list-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 40px;
}

.contact-us-icon {
    transition: fill 0.3s;
    cursor: pointer;
}

.contact-us-icon:hover,
.contact-us-icon:focus {
    fill: var(--soc-icon-color);
}

.twitter {
    fill: #11b5e4;
}

.facebook {
    fill: #007ab6;
}

.linkedin {
    fill: #025279;
}

.contact-us-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--contacts-text-color);
    max-width: 334px;
    display: block;
    margin: 0 auto 16px;
}

.contact-us-img-mobile {
    margin: 0 auto;
}

.contact-us-img-desktop {
    display: none;
}

@media screen and (min-width: 1150px) {

    .contact-us-title {
        margin-bottom: 18px;
    }

    .contact-us-text {
        margin-bottom: 50px;
    }

    .contsct-us-list-mobile {
        display: none;
    }

    .social-list.resource {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .contact-us-img-mobile {
        display: none;
    }

    .contact-us-img-desktop {
        display: block;
        margin: 0 auto;
    }
}