.articles-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.articles-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 16px;
}

.article-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    margin-bottom: 50px;
}

.articles-list {
    margin-bottom: 50px;
}

.article-item {
    border: 1px solid #dedede;
    border-radius: 8px;
    margin-bottom: 32px;
    cursor: pointer;
    transition: color 0.3s, box-shadow 0.3s;
}

.article-item:last-child {
    margin-bottom: 0;
}

.article-item:hover,
.article-item:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.article-item:hover .article-sub-title,
.article-item:focus .article-sub-title {
    color: var(--accent-light-font-color);
}

.article-img {
    width: 100%;
    max-width: 370px;
    border-radius: 8px 8px 0 0;
    margin: 0 auto 22px;
}

.articles-text-container {
    padding: 0 24px 40px;
}


.articles-data {
    line-height: 1.75;
    margin-bottom: 12px;
}

.articles-data span {
    font-weight: 700;
}

.article-sub-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
}

.articles-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.44;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    transition: color 0.3s;
}

.articles-icon {
    fill: var(--decor-arrow-icon-fill);
    transition: fill 0.3s;
}

.articles-link:hover,
.articles-link:focus {
    color: var(--accent-light-font-color)
}

.articles-link:hover .articles-icon,
.articles-link:focus .articles-icon {
    fill: var(--accent-light-font-color)
}

@media screen and (min-width: 1150px) {
    .articles-title {
        font-size: 34px;
        margin-bottom: 8px;
    }

    .article-text {
        margin-bottom: 32px;
    }

    .articles-list {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        margin-bottom: 32px;
    }

    .article-item {
        flex-basis: calc((100% - 64px) / 3);
        margin-bottom: 0;
    }
}