.subscribe-section {
    padding-top: 118px;
    padding-bottom: 50px;
}

.subscribe-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 1.49;
    text-align: center;
    margin-bottom: 16px;
}

.subscribe-text {
    font-size: 20px;
    line-height: 1.71;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 20px;
    max-width: 352px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eaeaea;
    border-radius: 100px;
    width: 356px;
    height: 66px;
    padding: 0 8px 0 12px;
    margin-bottom: 24px;
}

.form-input {
    border: none;
}

.form-input:focus {
    outline: none;
}

.subscribe-button {
    min-width: 122px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: var(--button-bg-color);
    color: var(--main-light-font-color);
    transition: background-color 0.3s;
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--hover-focus-color);
}

.img-users-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.subscribe-img-list {
    display: flex;
    align-items: center;
}

.subscribe-item:not(:first-child) {
    margin-left: -20px;
}

.subscribe-users {
    font-size: 14px;
    color: var(--subscribe-text-color);
}

.num {
    font-weight: 500;
    color: var(--accent-light-font-color);
}

.plus {
    color: #9f07ff;
}

.subscribe-img {
    width: 100%;
    max-width: 360px;
}

.subscribe-desktop-img {
    display: none;
}

@media screen and (min-width: 1150px) {
    .subscribe-section {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .subscribe-section-container {
        display: flex;
        align-items: center;
        gap: 46px;
    }

    .subscribe-mobile-img {
        display: none;
    }

    .subscribe-desktop-img {
        display: block;
    }

    .subscribe-title {
        font-size: 40px;
        margin-bottom: 24px;
        max-width: 398px;
        text-align: left;
    }

    .subscribe-text {
        text-align: left;
        line-height: 1.6;
        margin-bottom: 24px;
        max-width: 536px;
    }

    .subscribe-form {
        width: 470px;
    }
}